@model IEnumerable<WebApplicationRestaurant.Models.MenuPlan>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanEndDate)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Змінити</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Подробиці</a>
                <a class="btn btn-sm btn-primary" asp-action="EditMenuDishes" asp-route-menuId="@item.Id">Змінити елементи меню</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
