@model WebApplicationRestaurant.Models.Dish

@{
    ViewData["Title"] = "Подробиці";
}

<h1>Подробиці</h1>

<div>
    <h4>Страва</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishUnit.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Змінити</a> 
    <a class="btn btn-sm btn-info" asp-action="Index">Повернутися до списку</a>
</div>
