@model IEnumerable<WebApplicationRestaurant.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "Кошик";
}

<h1>Кошик</h1>

<p>
    <a asp-action="GoToOrder">Оформити замовлення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="ChangeCart" asp-route-id="@item.Dish.Id" asp-route-count="1">Збільшити</a> |
                <a asp-action="ChangeCart" asp-route-id="@item.Dish.Id" asp-route-count="-1">Зменщити</a> |
                <a asp-action="DeleteFromCart" asp-route-id="@item.Dish.Id">Видалити з кошику</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="ClearCart">Очистити кошик</a> |
    <a asp-action="Index">Повернутися до списку</a>
</p>
