@model IEnumerable<WebApplicationRestaurant.Models.Place>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                @if (item.Available)
                {
                    <a asp-action="BookTable" asp-route-id="@item.Id">Забронювати</a>
                }
                else
                {
                    <a asp-action="UnbookTable" asp-route-id="@item.Id">Зняти резервацію</a>
                }
                | <a asp-action="Details" asp-route-id="@item.Id">Подробиці</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
